# ==========================================
# --------- Application Core ---------------
# ==========================================

NODE_ENV="development"

# ==========================================
# --------- Application Database -----------
# ==========================================

# NOTE: For local development, the migrations run on the host machine using port 5440.
# The Docker containers map this port natively inside docker-compose.yaml.
DATABASE_URL="postgresql://postgres:myStrongPassword@localhost:5440/{{PROJECT_NAME}}?schema=public"

# Redis configuration for containers
REDIS_HOST="redis"
REDIS_PASSWORD="myStrongPassword"
REDIS_PORT="6379"

# ==========================================
# --------- SMTP CREDENTIALS ---------------
# ==========================================

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password

# ==========================================
# --------- FIREBASE CREDENTIALS -----------
# ==========================================

FIREBASE_ACCOUNT_TYPE=service_account
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY_ID=your-private-key-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=your-firebase-email@your-project-id.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=your-client-id
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/your-firebase-email%40your-project-id.iam.gserviceaccount.com
FIREBASE_UNIVERSE_DOMAIN=googleapis.com

# ==========================================
# --------- SERVER CREDENTIALS -------------
# ==========================================

PORT=8080
JWT_ACCESS_TOKEN_SECRET_KEY=your_access_token_secret
JWT_REFRESH_TOKEN_SECRET_KEY=your_refresh_token_secret
JWT_VERIFY_OTP_PAGE_SECRET_KEY=your_otp_page_secret
OTP_HASH_SECRET=your_otp_hash_secret

# ==========================================
# --------- AWS S3 CREDENTIALS -------------
# ==========================================

S3_ACCESS_KEY=your_s3_access_key
S3_SECRET_KEY=your_s3_secret_key
S3_REGION=us-east-1
S3_BUCKET_NAME=your_s3_bucket_name
